html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "monserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  background-image: linear-gradient(to top, #dfe9f3 0%, #ffffff 100%);
}
