.nav_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding: 10px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
}
.inicio {
  margin: 1rem;
}
