.nosotros_h1 {
  text-align: center;
}
.nosotros_cuerpo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.nosotros_cuerpo_izquierda {
  width: 60%;
  text-align: justify;
  font-size: 1.3rem;
  padding-right: 1rem;
}
.nosotros_cuerpo_derecha {
  width: 60%;
  text-align: justify;
  text-align: justify;
  font-size: 1.3rem;
  padding-right: 1rem;
}
.nosotros_h2 {
  text-align: center;
}
.mision_vision {
  display: flex;
}
.vision_ {
  display: flex;
  flex-direction: column;
}
.nosotros_h3 {
  text-align: center;
}
